doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/index.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk443pBiTGq3QiBd3GiG3AyBHqCMXmDwg")
  body
    aside
    button.start Start
    button.stop Stop
    button.clear Clear
    |   From
    input.from(type='date')
    |   To
    input.to(type='date')
    button.show Show
    main#main
